body {
	font-family: 'Source Serif Pro', serif;
}

/* CONTAINER */

.outer-grid-container {
	display:grid;
	grid-template-columns: 200px; auto;
	grid-template-areas:
		"header header"
		"sidebar main";
}

/* outer grid template area */
.header-cell    { grid-area: header;  }
.main-cell      { grid-area: main;    }
.sidebar-cell   { grid-area: sidebar; }

/* header */
.header-container {
	display:block;
	height: auto;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #363c3c;
}

/* sidebar */
.sidebar-cell {
	display:block;
	background-color:#d6d8d8;
	height:inherit;
}

/* main grid */

.inner-container {
    display: flex;
    justify-content: center;
}

.grid-container {
	display: grid;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	grid-gap: 1rem;
	
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.list-view-container {
	display: grid;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	grid-gap: 1rem;
	
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
}


/* DETAIL VIEW */
.detail-view-container {
    display: grid;
    grid-template-areas:
        "detailCard"
        "tintSection"
        "backButton";
}

.detail-container {
    width: 100%;
    height: auto;
}

/* tints */
.tint-container {
    display: grid;
    height: auto;
    
    grid-gap: 1rem;
    margin: 40px;
    grid-template-columns: repeat(5, 1fr);
    grid-area: "tintSection";
}


/* header elements */

.logo {
	display: inherit;
	height: 35px;
	float:left;
	margin-top: 8px;
	margin-bottom: 8px;
}

.search-bar {
	display: inherit;
	float:right;
	vertical-align: middle;
	margin-top: 13px;
}

/* sidebar elements */

.button {
	display: block;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 10px;
	
	/* border */
	border:1px #ccc solid;
	box-shadow:1px 1px 2px #e6e6e6;
	border-radius: 7px;
	
	/* font */
	font-family: inherit;
	font-weight: 600;
	font-size: 16px;
}

.sidebar-nav {
	margin-top: 10px;
	padding-left: 7px;
	width: inherit;
}

.sidebar-nav a {
	color: black;
	display: block;
	padding: 12px;
	font-size: 16px;
	text-decoration: none;
}

.sidebar-spacer {
	height:100px; /*todo: flex */
}

/* grid elements */

.grid-cell {
	display:flex;
    flex-direction: column;
    width: 100px;
    margin:10px;
    align-content: center;
    overflow:auto; 
}
.page-link {
	 margin: 20px;
	 color: black;
	 font-size: 16px;
	 text-decoration: none;
}

.grid-nav {
    display:flex;
    justify-content: center;
    
    /* font */
	font-family: inherit;
	font-size: 16px;
    grid-area: "backButton";
}

.page-nav {
    display:flex;
    justify-content: center;
    
    /* font */
	font-family: inherit;
	font-size: 16px;
    grid-area: "backButton";
}

.light-font {
    font-weight: 100;
}

.bold-font {
    font-weight: 600;
}


/* detail elements */
.back-button {
    grid-area: "backButton";
}


/* cards */

.border {
	border:0.5px #e6e6e6 solid;
	box-shadow:0px 1px 2px 1px #e6e6e6;
}

.border-round {
    border-radius:10px;
}

/* grid */

.card-hex-code{
    font-size:15px;
    margin-left:10%;
	margin-top: 10px;
	margin-bottom: 10px;
    justify-content: center;
}

.card-swatch-list {
	width: 100%;
    padding-top: 92.25%;
}





/* detail */

.detail-card {
	display:flex;
    flex-direction: column;
    margin:40px;
    align-content: center;
    overflow:auto; 
    grid-area: "detailCard";
}

.card-swatch-detail {
	height: 300px;
	width: 100%;
}

.detail-hex-code{
    font-size:30px;
    margin-left:10%;
	margin-top: 10px;
	margin-bottom: 10px;
    justify-content: center;
}

.detail-border {
	border:0.5px #393939 solid;
	box-shadow:0.5px 0.5px 2px 1px #e6e6e6;
}
/* tints */

.tint-card {
    display:flex;
    flex-direction: column;
    align-content: center;
    overflow:auto; 
    grid-area: "detailCard";
}

.card-swatch-tint {
    width: 100%;
    padding-top: 75%;
}


.empty-category-span {
    display: flex;
    justify-content: center;
}
